html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body { 
  font-family: Arial; 
  text-align: center; 
  padding: 40px; 
  font-size: 24px; 
  background-image: url('https://images.unsplash.com/photo-1552083375-1447ce886485?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.quote-card { 
  border: 1px solid rgba(255,255,255,0.3); 
  padding: 20px; 
  margin: 10px auto; 
  border-radius: 8px; 
  max-width: 600px; 
  background-color: rgba(0,0,0,0.5);
}

#reload { 
  padding: 10px 20px; 
  cursor: pointer; 
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  border-radius: 10px;
}
